@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,600;1,400;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html,
    body {
        -webkit-user-select: none;
        user-select: none;
    }

    input,
    textarea,
    select,
    [contenteditable='true'] {
        -webkit-user-select: text;
        user-select: text;
    }
}