.player-hand {
	bottom: 30px;
}

.opponent-hand {
	top: -20px;
}

.card-hand {
	display: flex;
	justify-content: center;
	gap: var(--hand-gap);
	position: absolute;
	left: 0;
	width: 100%;
	height: var(--hand-height);
}